<div class="mb-4 row">
  <div class="col" [ngVar]="{}" #filter="ngVar">
    <div class="s--list-navbar d-none d-sm-block">
      <div id="collapse-header" [ngClass]="{'show':collapsed}" class="collapse multi-collapse">
        <form class="form-inline px-3 pt-3">
          <div class="form-group flex-fill mr-2 mb-3">
            <label class="pr-3" for="searchText" [translate]="'Tables.Search'"></label>
            <input (keydown)="onSearchKeyDown($event)" spellcheck="false" type="text" id="searchText" name="searchText"
              class="form-control col text-left" placeholder="{{ 'Tables.SearchPlaceholder' | translate }}">
          </div>
          <div class="w-100 d-xl-none"></div>
          <div class="btn-group mb-3" role="group col-auto" >
            <label class="pr-3" for="searchText" [translate]="'Tables.GroupBy'"></label>
            <button [ngClass]="{ 'btn-primary': selectedGroupType.prop == groupType.prop, 'bg-white text-gray-500': selectedGroupType.prop != groupType.prop }"
            type="button" (click)="selectedGroupType = groupType" *ngFor="let groupType of groupTypes" class="btn">{{ groupType.name | translate }}</button>
          </div>
          <div class="text-right text-secondary col-auto mb-3" id="heading">
            <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
              type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
              aria-controls="collapse">
              <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.More'"></span>
              <i class="ml-2 pt-1 fa fa-chevron-down"></i>
            </button>
          </div>
        </form>
      </div>

      <div id="collapse" [ngClass]="{'show':!collapsed}" class="collapse multi-collapse" aria-labelledby="heading">
        <div class="row">
          <div class="col-sm-12">
            <div id="advanced-form">
              <app-advanced-search-form (keydown)="advancedSearch($event)" #search [(filter)]="filter.value"></app-advanced-search-form>
              <hr class="mt-0 mb-0" width="97%">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inline p-3">
                    <div class="btn-group col-auto" role="group">
                      <label class="pr-3" for="searchText" [translate]="'Tables.GroupBy'"></label>
                      <button [ngClass]="{ 'btn-primary': selectedGroupType.prop == groupType.prop, 'bg-white text-gray-500': selectedGroupType.prop != groupType.prop }"
                      type="button" (click)="selectedGroupType = groupType" *ngFor="let groupType of groupTypes" class="btn">{{ groupType.name | translate }}</button>
                    </div>

                    <div class="col justify-content-between text-right text-secondary">
                      <button type="button" class="btn btn-success pl-4 pr-4 mr-2" (click)="advancedSearch($event);"
                        [translate]="'Tables.Search'"></button>
                      <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapse">
                        <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.Less'"></span>
                        <i class="ml-2 pt-1 fa fa-chevron-up"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data">
  <div *ngIf="data.length > 0">
    <div class="mb-4" *ngFor="let groupedCourses of data | groupBy: selectedGroupType?.prop || groupTypes[0].prop | values">
      <div>
        <h4 *ngIf="selectedGroupType?.key == 'semester'" class="col text-secondary">{{ groupedCourses[0].semester.alternateName }} {{ 'Students.Semester' | translate }} </h4>
        <h4 *ngIf="selectedGroupType?.key == 'type'" class="col text-secondary">{{ groupedCourses[0].courseType.name }}</h4>
      </div>
      <div id="group-list"  class="flex-column" >
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column text-left" [translate]="'Students.Course'"></div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block text-left" [translate]="'Students.CourseDisplayCode'"></div>
              <div class="sis--list-group-item_md_column d-none d-lg-block px-4 text-truncate" [translate]="'Students.Instructor'"></div>
              <div class="sis--list-group-item_md_column d-none d-lg-block text-left text-truncate" [translate]="'Students.Exam'"></div>
              <div class="sis--list-group-item_md_column d-none d-md-block text-left" [translate]="'Students.Type'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.calculateUnits'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block" [translate]="'Students.calculateGrades'"></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block text-truncate" [translate]="'Students.RegistrationType'"></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block" [translate]="'Students.Units'"></div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block" [translate]="'Students.Εcts'"></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block" [translate]="'Students.Coefficient'"></div>
              <div class="sis--list-group-item_sm_column text-right" [translate]="'Students.Grade'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li *ngFor="let course of groupedCourses | orderBy: 'course.displayCode'" class="sis--list-group-item" >
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column text-wrap">
                <button class="btn btn-default pr-1 pl-0" (click)="editCourse(course)">
                  <i class="fas fa-edit text-indigo"></i>
                </button>
                <span>{{ course?.courseTitle }}</span>
              </div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block "><span class="font-xs text-secondary">{{ course?.course?.displayCode }}</span></div>
              <div class="sis--list-group-item_md_column d-none d-lg-block text-truncate ">
                <ng-container *ngIf="course?.gradeExam">
                  <ng-container *ngIf="course?.gradeExam?.instructors">
                    <ng-container *ngFor="let examInstructor of course?.gradeExam?.instructors;let i = index;">
                      <div><span class="font-xs text-secondary">{{examInstructor?.instructor?.familyName}}</span></div>
                    </ng-container>
                  </ng-container>
                </ng-container></div>
              <div class="sis--list-group-item_md_column d-none d-lg-block text-wrap text-lg-left pl-2"><span class="font-xs text-secondary">
                  {{ course?.gradeYear?.alternateName }} {{ course?.examPeriod?.name }}</span>
              </div>
              <div class="sis--list-group-item_md_column d-none d-md-block text-truncate text-left"><span class="font-xs text-secondary">{{course?.courseType?  course?.courseType?.name : '-' }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block"><i class="fa font-lg" [ngClass]="{'fa-check text-success': course?.calculateUnits === 1, 'fa-times text-danger': course?.calculateUnits === 0}"></i></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block"><i class="fa font-lg" [ngClass]="{'fa-check text-success': course?.calculateGrade === 1, 'fa-times text-danger': course?.calculateGrade === 0}"></i></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="font-lg text-secondary">
                <i *ngIf="course?.registrationType === 1" class="fa fa-check text-success"></i>
                <span *ngIf="course?.registrationType === 0">-</span>
              </span></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block"><span class="font-xs text-secondary">{{ course?.units }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-sm-block"><span class="font-xs text-secondary">{{ course?.ects }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block"><span class="font-xs text-secondary">{{ course?.coefficient }}</span></div>
              <div class="sis--list-group-item_sm_column text-right">
                <span class="text-secondary" [ngClass]="[course?.isPassed ? 'text-success' : 'text-danger', course?.formattedGrade?.length>3 ? 'font-lg' : 'font-2xl']">
                  <span *ngIf="course.formattedGrade">{{ course.formattedGrade}}</span>
                  <span *ngIf="!course.formattedGrade && course?.registrationType === 1"><i class="fa fa-check text-success font-lg"></i></span>
                </span>
              </div>
            </div>
            <div *ngIf="course?.courses && course?.courses.length>0">
              <div class="d-flex justify-content-center align-items-center list-color pt-2 pb-2" *ngFor="let course of course?.courses">
                <div class='sis--list-group-item_lg_column pl-4 text-wrap'>{{course.course.name}}</div>
                <div class='sis--list-group-item_sm_column d-none d-sm-block'><span class="font-xs text-secondary">{{course.course.displayCode}}</span></div>
                <div class='sis--list-group-item_md_column d-none d-lg-block text-truncate'>
                  <ng-container *ngIf="course.gradeExam">
                    <ng-container *ngIf="course.gradeExam.instructors">
                      <ng-container *ngFor="let examInstructor of course.gradeExam.instructors;let i = index;">
                        <div><span class="font-xs text-secondary">{{examInstructor?.instructor?.familyName}}</span></div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
                <div class='sis--list-group-item_md_column d-none d-lg-block text-wrap text-lg-left pl-2'>
                  <span class="font-xs text-secondary">
                    {{ course?.gradeYear?.alternateName }} {{ course?.examPeriod?.name }}
                  </span>
                </div>
                <div class='sis--list-group-item_md_column d-none d-md-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-xl-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-lg-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-sm-block text-secondary font-lg'>-</div>
                <div class='sis--list-group-item_sm_column d-none d-lg-block'>
                  <span class="font-xs text-secondary ">
                    {{course?.calculated != 0   ? course?.coursePercent + '%'  : 'Students.NotCalculated' | translate }}
                  </span>
                </div>
                <div class="sis--list-group-item_sm_column text-right">
                  <span class="text-secondary" [ngClass]="[course?.isPassed ? 'text-success' : 'text-danger', course?.formattedGrade?.length>3 ? 'font-lg' : 'font-2xl']">
                    <span *ngIf="course.formattedGrade">{{ course.formattedGrade}}</span>
                    <span *ngIf="!course.formattedGrade && course?.registrationType === 1"><i class="fa fa-check text-success font-lg"></i></span>
                  </span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="footer-text text-dark font-weight-normal text-right font-sm mt-3 mr-2">
        <div>
          <span [translate]="'Students.TotalPassed'"></span>:
          <span class="font-weight-bold">{{
            (groupedCourses | filterBy: ['isPassed', 'registrationType']: ['1'] | filterBy: ['calculateUnits']: ['1']).length
          }}</span>
        </div>
        <div class="mt-1">
          <span [translate]="'Students.SimpleGradeAverage'"></span>:
          <span class="font-weight-bold">{{
            groupedCourses | gradeAverage | grade: this.defaultGradeScale | async
          }}</span>
        </div>
        <div class="mt-1">
          <span [translate]="'Students.PassedECTS'"></span>:
          <span class="font-weight-bold">{{
            groupedCourses | filterBy: ['isPassed']: ['1'] | filterBy: ['calculateUnits']: ['1'] | pluck: 'ects' | sum
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="data.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 [translate]="'Students.Courses'" class="mr-3 my-auto"></h5>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Students.NoCourses'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
