<div class="card" *ngIf="uploadGrades">
  <div class="card-header d-md-flex">
    <h5 class="text-gray-600 mt-3"><span [translate]="'Dashboard.ActiveUploadGrades'"></span>: {{ uploadGrades?.total }}
    </h5>
    <a href="#/exams/list/completed" class="text-primary ml-auto my-auto"><span [translate]="'Dashboard.More'"></span></a>
  </div>
  <div class="card-body py-0 pb-4" *ngIf="uploadGrades.value">
    <div id="group-list" class="flex-column" *ngIf="uploadGrades.value.length">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Dashboard.Date'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block px-4 text-left"
              [translate]="'Dashboard.SubmitBy'"></div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-left"
              [translate]="'Dashboard.CourseExamPeriod'">
            </div>
            <div class="sis--list-group-item_sm_column text-left"></div>`
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let grade of uploadGrades.value">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ grade?.dateModified | date:'short' }}</div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-secondary text-truncate px-4 text-left">
              {{ grade?.owner.alternateName }}</div>
            <div class="sis--list-group-item_md_column d-none d-md-block text-left">
              {{grade?.object?.course.displayCode}} - {{ grade?.object?.name }} {{grade?.object?.year?.alternateName }}
              {{grade?.object?.examPeriod?.name}}</div>
            <div class="sis--list-group-item_sm_column text-right">
              <a [routerLink]="['/exams', grade.object.id, 'dashboard', 'grading', grade.id ]" class="text-primary text-decoration-none"
                [translate]="'Dashboard.View'"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3" *ngIf="uploadGrades.value.length===0">
      <span [translate]="'Dashboard.Empty'"></span>
    </div>
  </div>
</div>
