<div class="row">
  <div class="col-auto mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Theses.Members'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3 mt-3">
    <div class="font-lg btn-toolbar mt-3">
      <a *ngIf="this.members && this.members.selected && this.members.selected.length"
         class="text-danger text-decoration-none mr-2" href="javascript:void(0)" (click)="remove()">
        <span>-</span><span>&nbsp;</span><span [translate]="'Theses.Remove'"></span>
      </a>
      <div *ngIf="model.status.alternateName !=='cancelled' && model.status.alternateName !=='completed' ">
      <a  class="text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'add'} }]">
        <span>+</span><span>&nbsp;</span><span [translate]="'Theses.AddMember'"></span>
      </a>
      </div>
    </div>
  </div>
</div>
<router-modal></router-modal>

 <!-- <div class="row mt-4" *ngFor="let student of model.students;index as i;">
    <div class="col-lg-12 col-md-6 col-sm-12">
      <form-collapsible [collapsed]="false">
        <form-header>
          <span>{{student.student.person.givenName}} {{student.student.person.familyName}}</span>
        </form-header>
        <form-body>
          <app-theses-preview-students-form [student]="student"></app-theses-preview-students-form>
        </form-body>
      </form-collapsible>
    </div>
  </div>-->
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #members (load)="onDataLoad($event)" [selectable]="true" [height]="600" [config]="config" [showfooter]="false"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>

<!--<div class="mb-3" *ngIf="!model || model.students == 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text"  [translate]="'Theses.NoStudents'"></p>
        </div>
      </div>
    </div>
  </div>
</div>-->
