<ul class="nav d-flex">
  <li class=" tab-brand disabled">
    <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
      <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Requests.Title'"></span></a>
  </li>
</ul>
<router-outlet></router-outlet>
