<div *ngIf="student && student.studentStatus && student.studentStatus.alternateName==='graduated'">
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationGrade'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationGradeAdjusted}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationTitle'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationTitle}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationYear'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationYear?.alternateName}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationPeriod'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{'Periods.' + student?.graduationPeriod?.alternateName | translate}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.graduationDate | date : 'shortDate'}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.DeclaredDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredDate | date : 'shortDate'}}</span>
    </div>
  </div>
</div>

<div *ngIf="student && student.studentStatus && student.studentStatus.alternateName==='declared'">
  <div class="d-flex justify-content-between mb-3">
    <h6 [translate]="'Students.DeclaredInfo'" class="mr-3 my-auto"></h6>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.GraduationGrade'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.graduationGradeAdjusted}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.AcademicYear'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.declaredYear?.alternateName}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.AcademicPeriod'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{'Periods.' + student?.declaredInfo?.declaredPeriod?.alternateName | translate}}</span>
    </div>
  </div>
  <div class="form-group row mb-1">
    <div class="col-5">
      <span [translate]="'Students.DeclaredDate'"></span>
    </div>
    <div class="col-7 text-dark">
      <span>{{student?.declaredInfo?.declaredDate | date : 'shortDate'}}</span>
    </div>
  </div>
</div>
