<header class="app-header navbar">
  <div class="nav navbar-nav">
    <button class="navbar-toggler d-md-none" type="button" appMobileSidebarToggler>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-item nav-link sis-brand px-3 d-block d-sm-none" href="#">U</a>
    <a class="nav-item nav-link sis-brand px-3 d-none d-sm-block" href="#"><b>Universis</b> Theme Preview | Angular</a>
  </div>

  <ul class="nav navbar-nav d-sm-down-none ml-auto">
    <li class="nav-item">
      <a class="nav-link"><i class="fas fa-home"></i></a>
    </li>
  </ul>
</header>

<div class="app-body">
  <app-sidebar [display]="'md'">
    <app-sidebar-nav [navItems]="navItems"></app-sidebar-nav>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid pt-4">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
