<div *ngIf="model">
  <div class="card"   *ngIf="model.length != 0">
    <div class="card-body ">
      <div>
        <a href="/#/theses/{{thesesID}}/dashboard/members"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Theses.Members'" class="mr-3 my-auto"></h5>
        </div>
      </div>

      <div id="group-list" class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-xl-block" [translate]="'Theses.InstructorFullName'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.Category'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Students.Department'"></div>
              <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Theses.RoleName'"></div>
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let member of model">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class=" text-dark"> {{member.member.familyName}} {{member.member.givenName}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class="text-dark">{{ member.member.category}}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block"><span
                class="text-dark">{{ member.member.department.abbreviation }}</span></div>
              <div class="sis--list-group-item_lg_column d-none d-xl-block">
                <span  class="text-dark">{{ 'Theses.RoleNames.' + member.roleName| translate}}</span>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Theses.Members'"></h5>
        <a href="/#/theses/{{thesesID}}/dashboard/members"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Theses.NoMembers'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
