<div class="card" *ngIf="statistics">
  <div class="card-header d-flex justify-content-between mt-3">
    <div class="d-flex flex-column justify-content-end w-100">
      <h4 class="modal-title text-center">{{ 'Exams.Statistics'  | translate }}</h4>
    </div>
  </div>

  <div class="card-body text-center" *ngIf="studentsGraded">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <h4 class="mx-auto mb-3">{{ 'Exams.Totals'  | translate }}</h4>
        </div>
        <div class="row">
          <div class="col-6 label text-secondary">
            <label>{{ 'Exams.Chart.Graded'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{studentsGraded}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-6 label text-secondary">
            <label>{{ 'Exams.Chart.Successful'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{studentsSuccessed}}</span>
          </div>
        </div>
        <div class="row mt-4">
          <h4 class="mx-auto mb-3">{{ 'Exams.Chart.GroupByGrade'  | translate }}</h4>
        </div>
        <div class="row  mb-2">
          <div class="col-6">
            <label>{{ 'Exams.Chart.Grade'  | translate }}</label>
          </div>
          <div class="col-6">
            <span>{{ 'Exams.Chart.NumberOfStudents'  | translate }}</span>
          </div>
        </div>
        <div class="row" *ngFor="let gradeLabel of doughnutChartLabels;let i=index;">
          <div class="col-6 label text-secondary">
            <label>{{gradeLabel}}</label>
          </div>
          <div class="col-6">
            <span>{{doughnutChartData[0][i]}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div style="display: block" *ngIf="!isLoading">
          <canvas baseChart width="100%" height="100%" [data]="doughnutChartData" [labels]="doughnutChartLabels"
            [options]="doughnutOptions" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!studentsGraded">
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-3">
          <div class="col-auto text-dark">
            <span [translate]="'Exams.NoStatistics'"></span>
          </div>
        </div>
      </div>
  </div>

</div>
