<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Users.Groups'" class="mr-3 my-auto"></h5>
<!--    <a href="#/users/{{user.id}}/dashboard/groups" class="text-primary ml-auto my-auto"><span [translate]="'Users.More'"></span></a>-->
  </div>
  <div class="card-body py-0">
    <div id="group-list"  class="flex-column" *ngIf="user && user.groups && user.groups.length > 0">
      <ul class="sis--list-group sis--list-group-header">
        <li class="sis--list-group-item">
          <div class="d-flex justify-content-center align-items-center">
            <div class="sis--list-group-item_sm_column text-left" [translate]="'Users.GroupName'"></div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-left" [translate]="'Users.GroupAlternateName'"></div>
            <!--<div class="sis&#45;&#45;list-group-item_sm_column text-left"></div>`-->
          </div>
        </li>
      </ul>
      <ul class="sis--list-group sis--list-group-body">
        <li class="sis--list-group-item" *ngFor="let group of user.groups | slice:0:3;">
          <div class="d-flex justify-content-center align-items-center list-color">
            <div class="sis--list-group-item_sm_column text-left">{{ group?.name }}</div>
            <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary text-left">{{  group?.alternateName }}</div>
            <!--<div class="sis&#45;&#45;list-group-item_sm_column text-right">
              <a href="#/groups/{{ group?.id }}/edit" class="text-primary text-decoration-none"
                 [translate]="'Users.View'"></a>
            </div>-->
          </div>
        </li>
      </ul>
    </div>
    <div class="mb-3"  *ngIf="!user || !user.groups || user.groups.length == 0">
      <span [translate]="'Users.Empty'"></span>
    </div>
  </div>
  <div class="card-footer pt-0" *ngIf="user && user.groups && user.groups.length > 0">
    <div class="text-gray-600 mt-3">{{ user.groups?.length }} <span [translate]="'Users.Total'"></span></div>
  </div>
</div>
