<div *ngIf="request">
  <div class="row mb-2">
    <div class="col-auto">
      <h1 class="mb-0 pt-2">{{ 'Forms.' + request?.additionalType | translate}}</h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto">
      <app-actions-button [edit]="defaultAction" [actions]="actions"></app-actions-button>
    </div>
  </div>
  <div class="row ">
    <!--  Left column -->
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
      <router-outlet name="as"></router-outlet>
      <router-modal></router-modal>
      <!--  Form -->
      <div *ngIf="claimed">
        <div class="card">
          <div class="card-body">
            <form #responseForm="ngForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="font-lg text-secondary" for="response" [translate]="'Requests.Edit.ResponseCardTitle'"></label>
                    <textarea
                      class="form-control"
                      id="response"
                      rows="3"
                      [required]="true"
                      [(ngModel)]="responseModel.body"
                      [maxLength]="512"
                      name="messageBody"
                      placeholder="{{'Requests.Edit.ResponsePlaceHolder' | translate}}"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <div class="form-group">
                    <label class="font-lg text-secondary" for="filename" [translate]="'Requests.Edit.AttachFiles'"></label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="form-control custom-file-input" id="filename" aria-describedby="filename" name="filename"
                               (change)="onFileChanged($event)" (click)="reset()" #file  >
                        <label class="custom-file-label text-placeholder" for="filename" [translate]="'Requests.Edit.AttachFilesPlaceHolder'">{{responseModel?.attachment?.name}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4">

                <div class="col-12 text-right">

                  <div class="btn-group">
                    <button type="button" (click)="sendMessageAction()"
                            [disabled]="responseForm.invalid || !claimed"
                            class="btn btn-indigo"
                            [translate]="'Requests.Edit.SendMessage'"></button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--  Responses -->
      <div *ngIf="this?.request?.messages">
        <div class="card"  *ngFor="let message of this?.request?.messages">
          <div class="card-body">
            <div>
              <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
              <div class="card-title  font-lg font-weight-normal pb-1" [translate]="'Requests.Edit.ResponseTitle'"></div>
            </div>
            <div class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4" [innerHTML]="message.body"></div>
            <div *ngIf="message?.attachments.length>0" class="mt-2">
              <button type="button" class="btn btn-light" (click)="downloadFile(message?.attachments)">{{ 'Requests.Edit.DownloadFile' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Right column -->
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <div class="px-2 pt-2" *ngIf="request.agent == null && request.actionStatus.alternateName === 'ActiveActionStatus'">
        <div class="alert alert-warning alert-dismissible shadow fade show" role="alert">
          <span [translate]="'Requests.Edit.NotClaimed'">This action has not be claimed by someone user.</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <app-request-side-preview [request]="request"></app-request-side-preview>
    </div>
  </div>
</div>
<app-document-download></app-document-download>

