
<div *ngIf="model">
  <h5 class="text-secondary mt-2 mb-4">{{model.length}} {{'Exams.Grading' | translate}} (
    <span class="text-purple"> {{active || 0}} {{'ActionStatusTypes.ActiveActionStatus' | translate}} </span> )
  </h5>
  <div *ngIf="model.length === 0" class="card">
    <div class="card-body">
      <p class="card-text" [translate]="'Exams.NoUploadActions'"></p>
    </div>
  </div>
  <div class="row mt-2" *ngFor="let exams of model; index as i;">
    <div class="col-12">
      <card-collapsible [alternateHeader]="true">
        <card-header>
          <span class="text-secondary">#{{i+1}}</span>
          <span class="ml-5" *ngIf="exams.owner.alternateName">{{exams.owner.alternateName}}</span>
          <span class="ml-5" *ngIf="exams.dateCreated">{{exams.dateCreated | localizedDate: 'short'}}</span>
          <span class="ml-5" *ngIf="exams.actionStatus.alternateName">
            <span [ngClass]="{'text-purple': exams.actionStatus.alternateName ==='ActiveActionStatus',
                              'text-danger': exams.actionStatus.alternateName === 'CancelledActionStatus',
                              'text-decoration-none': exams.actionStatus.alternateName ==='CompletedActionStatus'}">
                            {{'ActionStatusTypes.' + exams.actionStatus.alternateName | translate}}
            </span>
          </span>
        </card-header>
        <card-alternate-header>
          <span class="text-secondary">#{{i+1}}</span>
          <span class="ml-5" *ngIf="exams.owner.alternateName">{{exams.owner.alternateName}}</span>
        </card-alternate-header>
        <card-body>
          <app-exams-uploads-preview-form [exams]="exams"></app-exams-uploads-preview-form>
        </card-body>
      </card-collapsible>
      </div>
  </div>
</div>
