<div>
  <h4 class="mb-3">Modal Doughnut</h4>
  <div class="row">
    <div class="col-lg-12 mb-4">
      Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="containerModal1">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" (click)="exampleModal1.show()">
        Launch modal
      </button>
      <!-- Modal -->
      <div class="modal fade" bsModal #exampleModal1="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-center">Doughnut Chart Example</h1>
              <button type="button" class="close" (click)="exampleModal1.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="row">
                    <h4 class="mx-auto mb-3">SUBTITLE</h4>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 label text-secondary">
                      <label>VALUE</label>
                    </div>
                    <div class="col-lg-6">
                      <span>123456</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 label text-secondary">
                      <label>VALUE</label>
                    </div>
                    <div class="col-lg-6">
                      <span>123456</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 label text-secondary">
                      <label>VALUE</label>
                    </div>
                    <div class="col-lg-6">
                      <span>123456</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 label text-secondary">
                      <label>VALUE</label>
                    </div>
                    <div class="col-lg-6">
                      <span>123456</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div style="display: block">
                    <canvas baseChart
                            [data]="demodoughnutChartData"
                            [labels]="doughnutChartLabels"
                            [options]="doughnutOptions"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer text-center">
              <button type="button" (click)="exampleModal1.hide()" class="btn btn-outline-secondary btn-cancel">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include [highlight]="'app/modals/components/modals-doughnut/modals-doughnut.component.html#containerModal1'"></app-highlight-include>
    </div>
  </div>
  <div class="row">
    <div class="mt-4 col-lg-12">
      <app-highlight-include [highlight]="'app/modals/components/modals-doughnut/modals-doughnut.component.ts'"></app-highlight-include>
    </div>
  </div>
</div>
