<div class="row mt-4" *ngIf="model">

  <div class="col-lg-8 col-md-5 col-12">

    <div class="card" *ngIf="model?.length != 0">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto">{{ model.name }}</h5>
        <!--        <a href="#/courses/{{this.courseID}}/dashboard/overview" class="text-primary my-auto my-auto" [translate]="'Expandable.More'"></a>-->
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row">
          <div class="col-12  text-dark">
            {{model?.name}}
          </div>
        </div>
        <div class="card-text row">
          <div class="col-12 text-secondary">
            <span>{{ model.department?.name }}</span>
          </div>
        </div>
        <div class="row  mt-3">
          <div class="col-6">
            <!--            <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate"><i class="fa fa-flag-checkered pr-2"></i> <span-->
            <!--              [translate]="'Courses.Elearning'"></span></button>-->
          </div>
          <div class="col-6">
<!--            <button type="button" class="mr-0 ml-0 btn btn-outline-secondary  text-secondary btn-more btn-block text-truncate" [routerLink]="['/scholarships', this.scholarshipID, 'preview', 'students']"><i class="fa fa-flag-checkered pr-2"></i> <span-->
<!--              [translate]="'Scholarships.Students'"></span></button>-->
          </div>
        </div>
      </div>
      <div class="card-footer border-top py-4 text-secondary">
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.Id'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.id }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.Company'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.company?.name  || '-'}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.CompanyContact'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.companyContact || '-'}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.CompanyContactPhone'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.companyContactPhone || '-'}}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.InternshipYear'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ model.internshipYear?.id }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.InternshipPeriodAlternateName'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ 'Periods.' + model.internshipPeriod?.alternateName | translate }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.StartDate'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ (model.startDate | date : 'shortDate') || '-' }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.DateCompleted'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ (model.DateCompleted | date : 'shortDate') || '-' }}</span>
          </div>
        </div>
        <div class="form-group row mb-1">
          <div class="col-5">
            <span [translate]="'Internships.Status'"></span>
          </div>
          <div class="col-7 text-dark">
            <span>{{ 'InternshipStatus.' + model.status?.alternateName | translate }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-5 col-12">
    <app-students-overview-profile [studentId]="model.student.id"></app-students-overview-profile>
  </div>

</div>
