<div>
  <!-- search -->
  <div class="row mt-3">
    <div class="col-12 col-lg-6" [ngClass]="{ 'invisible': (selectedReport != null)}">
      <div class="input-group mb-3">
        <input spellcheck="false" type="text"
               (keyup)="onKeyUp($event)" [(ngModel)]="searchText"
               class="form-control bg-gray-100 border-0"
               placeholder="{{'Tables.SearchPlaceholder' | translate}}" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-default bg-gray-100 border-0" type="button">
            <i class="fa fa-search text-secondary"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12" [ngClass]="{ 'component-loading': loading}">
      <!--begin:reports-->
      <div [ngClass]="{ 'd-none': selectedReport != null }" class="report-list">
         <!--report row template-->
          <app-advanced-table #table
          (load)="onDataLoad($event)"
          [selectable]="true"
          [customSelect]="true"
          (select) = "onRowSelect($event)"
          [multipleSelect] = false
          [scrollX]="false" [scrollY]="320"
          [scrollable]="true" [showFooter]="false"></app-advanced-table>
      </div>
      <!--end:reports-->
      <!--begin:properties-->
      <div *ngIf="selectedReport" class="report-card">
          <div class="row" *ngIf="lastError">
              <div class="alert alert-warning" role="alert">
                  <span>{{ 'Documents.SignInitError' | translate }}</span><br>
                  <small>{{'Details' | translate}}</small>:&nbsp;
                  <small *ngIf="lastError.status >= 0" [translate]="'E' + lastError.status + '.message'"></small>
                  <small *ngIf="lastError.status == null">{{lastError.message}}</small>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 mt-4">
                <ng-container *ngIf="reportForm">
                    <formio #form [form]="reportForm"
                            (change) = "onChange($event)"
                            [refresh] = "refreshForm"
                            (customEvent) = "onCustomEvent($event)"
                            (formLoad)="onReportFormLoad()"
                            [submission]="{ data: formData }">
                    </formio>
                </ng-container>
            </div>
            <div class="col-lg-6 col-md-6">
              <h4 class="text-center mt-4" >
                {{selectedReport.name}}
              </h4>
              <h6 class="text-center" *ngIf="selectedReport.reportCategory.name">
                {{selectedReport.reportCategory.name}}
              </h6>
              <div class="text-center py-4">
                <i class="fa fa-file fa-7x text-indigo"></i>
              </div>
              <div class="text-center" *ngIf="selectedReport.dateCreated">
                 <span [translate]="'Reports.Attributes.dateCreated'"></span>
                 <span>: </span>
                 <span>{{selectedReport.dateCreated | date: 'short'}}</span>
              </div>
              <div class="text-center" *ngIf="selectedReport.dateModified">
                <span [translate]="'Reports.Attributes.dateModified'"></span>
                <span>: </span>
                <span>{{selectedReport.dateModified | date: 'short'}}</span>
             </div>
              <!--begin: signature graphic-->
              <div class="mt-4">
                <ngx-dropzone [multiple]="false" [accept]="'image/jpeg,image/jpg,image/png,image/gif'"  (change)="onFileSelect($event)">
                  <ngx-dropzone-label style="z-index: 0" class="p-2">{{'Documents.UploadSignatureGraphic' | translate}}</ngx-dropzone-label>
                  <ngx-dropzone-image-preview [file]="f" *ngFor="let f of signatures" [removable]="true" (removed)="onFileRemove(f)">
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <div class="text-center mt-2">
                  <span class="text-muted" [translate]="'Documents.SignatureGraphicHelp'"></span>
                </div>
              </div>
             <!--begin: pdf viewer-->
                <div style="display: none;" class="pdf-viewer-container hide-pdf-toolbar" #pdfViewerContainer>
                    <div class="pdf-viewer-custom-toolbar position-fixed">
                        <button class="btn btn-gray-300 text-white" title="{{'Reports.Viewer.Close' | translate}}" (click)="closeViewer()">
                            <i class="fas fa-times"></i>
                        </button>
                        <button class="btn btn-indigo ml-2" title="{{'Reports.Viewer.Download' | translate}}" (click)="pdfDownload()">
                            <i class="fas fa-download"></i>
                        </button>
                        <button class="btn btn-indigo ml-2" title="{{'Reports.Viewer.Print' | translate}}" (click)="pdfPrint()">
                            <i class="fas fa-print"></i>
                        </button>
                    </div>
                <ngx-extended-pdf-viewer
                 #pdfViewer [src]="blob"
                 [showPagingButtons] = "false"
                 [showPrintButton] = "true"
                 [showDownloadButton] = "true"
                 [showRotateButton] = "false"
                 [showPropertiesButton]="false"
                 [showPresentationModeButton] = "false"
                 [showSidebarButton]="false"
                 [showBookmarkButton]="false"
                 [showOpenFileButton]="false"
                 [useBrowserLocale]="true"
                 [showScrollingButton]="false"
                 [showSecondaryToolbarButton]="false"
                 [showUnverifiedSignatures]="true"
                 height="100vh"></ngx-extended-pdf-viewer>
             </div>
             <!--end: pdf viewer-->
            </div>
          </div>
      </div>
      <!--end:properties-->

    </div>
  </div>
</div>
