<div *ngIf="lastSuspensions && lastSuspensions.length > 0">
  <div class="card" *ngFor="let suspension of lastSuspensions">
    <div class="card-header d-md-flex">
      <h5 class="mr-3 my-auto">
        {{'Students.Suspension.SuspensionTitle' |translate}}
      </h5>
    </div>
    <div class="card-body py-0">
      <div>
        <div class="row suspension-row border-bottom mb-3">
          <div class="form-group col-12">
            <div class="flex-column">
              <h6 class="mr-3 my-auto">
                <span [translateParams]="{
                      active : (!suspension.reintegrated ? 'Students.Suspension.active'  : 'Students.Suspension.noActive') | translate,
                      period : 'Periods.' + suspension?.suspensionPeriod?.alternateName | translate,
                      year : suspension?.suspensionYear.alternateName,
                      periods : suspension?.suspensionPeriods,
                      date : suspension?.suspensionDate | date:'shortDate'}"
                    [translate]="'Students.Suspension.SuspensionSubTitle'">
                </span>
                <span *ngIf="suspension.reintegrated"
                    [translateParams]="{
                      period : 'Periods.' + suspension?.reintegrationPeriod?.alternateName | translate,
                      year : suspension?.reintegrationYear?.alternateName,
                      semester : suspension?.reintegrationSemester,
                      date : suspension?.reintegrationDate | date:'shortDate'}"
                    [translate]="'Students.Suspension.ReintegrationText'">
                </span>
              </h6>
            </div>
          </div>
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="row">
                <div class="col-12 mb-2">
                  <span class="card-title font-weight-bold"
                        [translate]="'Students.Suspension.SuspensionDetails'"></span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionType'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                  <span class="text-dark">{{ suspension?.suspensionType }}</span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                  <span class="text-secondary" [translate]="'Students.Suspension.SuspensionProtocolNumber'"></span>
                </div>
                <div class="col-12 col-md-3 mb-2 mb-md-1">
                  <span class="text-dark">{{ suspension?.suspensionProtocolNumber }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <div class="flex-column">
              <div class="row">
                <div class="col-12 mb-2">
                <span class="card-title font-weight-bold"
                      [translate]="'Students.Suspension.ReintegrationDetails'"></span>
                </div>
                <div class="col-12" *ngIf="suspension.reintegrated">
                  <div class="row">
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationDate'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationDate  | date:'shortDate'  }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationPeriod'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                    <span
                      class="text-dark">{{ 'Periods.' + suspension?.reintegrationPeriod?.alternateName | translate}} {{suspension?.reintegrationYear?.alternateName}}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationSemester'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationSemester }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary" [translate]="'Students.Suspension.ReintegrationType'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationType }}</span>
                    </div>
                    <div class="col-12 col-md-3 mb-1">
                      <span class="text-secondary"
                            [translate]="'Students.Suspension.ReintegrationProtocolNumber'"></span>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-1">
                      <span class="text-dark">{{ suspension?.reintegrationProtocolNumber }}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="!suspension.reintegrated">
                  <div class="col-12">
                    <span>{{'Students.Suspension.NoReintegrationDetails' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
