<div class="col-12 tab-navbar tab-container">
  <ul class="mt-3 nav nav-tabs d-flex">
    <li class="nav-item tab-brand disabled">
      <a class="nav-link disabled" href="javascript:void(0)"
         [translate]="'Sidebar.ArchivedDocuments'"></a>
    </li>
    <ng-container *ngIf="departmentDocumentNumberSeries">
      <li class="nav-item" *ngFor="let documentNumberSerie of departmentDocumentNumberSeries">
        <a class="nav-link pl-lg-5 pr-lg-5 text-uppercase"
          [routerLink]="['series', documentNumberSerie.id, 'items']"
           [lang]="_translateService.currentLang"
           [routerLinkActive]="'active'">{{documentNumberSerie.name}}</a>
      </li>
    </ng-container>
    <li class="nav-item tab-buttons disabled ml-auto">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
        </div>
      </div>
    </li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
