<div class="card">
  <div class="card-header d-md-flex">
    <h5 [translate]="'Students.LastRegistration'" class="mr-3 my-auto"></h5>
    <span class="text-gray-600 font-xs my-auto d-inline-block" *ngIf="lastRegistration">
      <span *ngIf="lastRegistration.registrationYear">
        {{ lastRegistration.registrationYear.alternateName }}
      </span>
      <span *ngIf="lastRegistration.registrationPeriod">
        {{ 'Periods.' + lastRegistration.registrationPeriod.alternateName | translate }}
      </span>
    </span>
    <a href="#/registrations/{{lastRegistration?.id}}/preview/general" class="text-primary ml-auto my-auto"><span
      [translate]="'Students.More'"></span></a>
  </div>
  <div class="card-body pt-2 text-secondary">
    <div *ngIf="lastRegistration">
      <div class="form-group row mb-2" *ngIf="lastRegistration.documents && lastRegistration.documents.length > 0">
        <div class="col-12 col-md-5 col-xl-3">
          <span>{{ 'Students.LastSumbitDate' | translate }}</span>
        </div>
        <div class="col-12 col-md-7 col-xl-9 text-dark my-auto">
          <span>{{lastRegistration.documents[0].dateCreated | date:'short'  }}</span>
        </div>
      </div>
      <div class="form-group row mb-2" *ngIf="!lastRegistration.documents || lastRegistration.documents.length == 0">
        <div class="col-12 col-md-5 col-xl-3">
          <span>{{ 'Students.RegistrationDate' | translate }}</span>
        </div>
        <div class="col-12 col-md-7 col-xl-9 text-dark my-auto">
          <span>{{lastRegistration.registrationDate | date:'short'  }}</span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="col-12 col-md-5 col-xl-3">
          <span>{{ 'Students.TotalCourses' | translate }}</span>
        </div>
        <div class="col-12 col-md-7 col-xl-9 text-dark">
          <span>{{lastRegistration.classes && lastRegistration.classes.length > 0 ? lastRegistration.classes[0].total : 0 }}</span>
        </div>
      </div>
      <div class="form-group row mb-2" >
        <div class="col-12 col-md-5 col-xl-3">
          <span>{{ 'Students.TotalEcts' | translate }}</span>
        </div>
        <div class="col-12 col-md-7 col-xl-9 text-dark">
          <span>{{lastRegistration.classes && lastRegistration.classes.length > 0 ? lastRegistration.classes[0].ects : 0 }}</span>
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="col-12 col-md-5 col-xl-3">
          <span>{{ 'Students.Status' | translate }}</span>
        </div>
        <div class="col-12 col-md-7 col-xl-9 text-dark">
         <span [ngClass]="lastRegistration?.status?.alternateName === 'open'? 'text-success' :
            lastRegistration?.status?.alternateName === 'closed'? 'text-danger' :
            lastRegistration?.status?.alternateName === 'pending'? 'text-color-theme' : 'text-dark'">
            {{ 'RegistrationStatus.' + lastRegistration.status.alternateName | translate}}
          </span>
        </div>
      </div>
    </div>
    <div class="mb-3" *ngIf="!lastRegistration">
      <span [translate]="'Students.Empty'"></span>
    </div>
  </div>
</div>
