<div class="row mt-4" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.UserInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Instructors.GivenName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="givenName" name="givenName" type="text" [(ngModel)]="model.givenName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.FamilyName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="familyName" name="familyName" type="text" [(ngModel)]="model.familyName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.MiddleName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="middleName" name="middleName" type="text" [(ngModel)]="model.middleName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="title" [translate]="'Instructors.UserTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="title" name="title" type="text" [(ngModel)]="model.title">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="am" [translate]="'Instructors.RegistrationNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="id" name="id" type="text" [(ngModel)]="model.personCode">
              </div>
            </div>

            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Instructors.UserName'"></label>
                <div *ngIf = "model.user; else noUser ">
                  <input [disabled]="true" class="form-control bg-white" id="userName" name="userName" type="text" [(ngModel)]="model.user.name">
                </div>
                <ng-template #noUser><input [disabled]="true" class="form-control bg-white" id="userName2" name="userName" type="text"></ng-template>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Instructors.Email'"></label>
                <input [disabled]="true" class="form-control bg-white" id="email" name="email" type="text" [(ngModel)]="model.email">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Instructors.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="status" name="status" type="text" >
              </div>
            </div>
            <div class="col-3" *ngIf="model.department">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text" [(ngModel)]="model.department.name">
              </div>
            </div>
            <div class="col-3" *ngIf="!model.department">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.Department'"></label>
                <input [disabled]="true" class="form-control bg-white" id="department" name="department" type="text">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.Section'"></label>
                <input [disabled]="true" class="form-control bg-white" id="section" name="section" type="text" [(ngModel)]="model.section">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Instructors.UserNumber'"></label>
                <input [disabled]="true" class="form-control bg-white" id="userNumber" name="userNumber" type="text" >
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Instructors.Category'"></label>
                <input [disabled]="true" class="form-control bg-white" id="category" name="category" type="text" [(ngModel)]="model.category">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Instructors.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="specialty" name="specialty" type="text" [(ngModel)]="model.specialty">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1" *ngIf="model && model.department">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.Work'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Instructors.University'"></label>
                <input [disabled]="true" class="form-control bg-white" id="university" name="university" type="text" [(ngModel)]="model.department.organization.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.UniversityUrl'"></label>
                <input [disabled]="true" class="form-control bg-white" id="universityUrl" name="universityUrl" type="text" [(ngModel)]="model.department.organization.url">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.UniversityCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="universityCity" name="universityCity" type="text" [(ngModel)]="model.department.city">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Instructors.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="givenName" [translate]="'Instructors.HomeAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text" [(ngModel)]="model.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="familyName" [translate]="'Instructors.HomePostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePostalCode" name="homePostalCode" type="text" [(ngModel)]="model.homePostalCode">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.HomeCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text" [(ngModel)]="model.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="middleName" [translate]="'Instructors.HomeCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text" [(ngModel)]="model.homeCountry">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="id" [translate]="'Instructors.WorkAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workAddress" name="workAddress" type="text" [(ngModel)]="model.workAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="userName" [translate]="'Instructors.WorkPostalCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workPostalCode" name="workPostalCode" type="text" [(ngModel)]="model.workPostalCode">
              </div>
            </div>
            <div class="col-3">
            <div class="form-group text-dark">
              <label for="email" [translate]="'Instructors.WorkCity'"></label>
              <input [disabled]="true" class="form-control bg-white" id="workCity" name="workCity" type="text" [(ngModel)]="model.workCity">
            </div>
          </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="email" [translate]="'Instructors.WorkCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="workCountry" name="workCountry" type="text" [(ngModel)]="model.workCountry">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
