<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Universis Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">Universis Project</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>DialogComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>packages/common/src/shared/components/modal/dialog.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>universis-dialog.modal</code></td>
            </tr>


            <tr>
                <td class="col-md-3">styles</td>
                <td class="col-md-9"><code>
      .modal-footer {
        border-top: 0;
      }
      .modal-ok {
        //
      }
      .modal-ok-cancel {
        //
      }
      .modal-yes-no {
        //
      }
      .modal-yes-no-cancel {
        //
      }
      .modal-abort-ignore-retry {
        //
      }
  </code></td>
            </tr>

            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;modal-dialog&quot; role&#x3D;&quot;document&quot;&gt;
  &lt;div class&#x3D;&quot;modal-content&quot;&gt;
    &lt;div class&#x3D;&quot;modal-header&quot;&gt;
      &lt;h4 class&#x3D;&quot;modal-title&quot;&gt;{{title}}&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class&#x3D;&quot;modal-body&quot; [innerHTML]&#x3D;&quot;message&quot;&gt;&lt;/div&gt;
    &lt;div class&#x3D;&quot;modal-footer&quot;&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 1)&quot;
              (click)&#x3D;&quot;hide(&#x27;ok&#x27;)&quot; class&#x3D;&quot;btn btn-primary btn-ok&quot; [translate]&#x3D;&quot;&#x27;OK&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 2)&quot;
              (click)&#x3D;&quot;hide(&#x27;yes&#x27;)&quot; class&#x3D;&quot;btn btn-primary btn-yes&quot; [translate]&#x3D;&quot;&#x27;Yes&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 4)&quot;
              (click)&#x3D;&quot;hide(&#x27;no&#x27;)&quot; class&#x3D;&quot;btn btn-default btn-no&quot; [translate]&#x3D;&quot;&#x27;No&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 8)&quot;
              (click)&#x3D;&quot;hide(&#x27;abort&#x27;)&quot; class&#x3D;&quot;btn btn-danger btn-abort&quot; [translate]&#x3D;&quot;&#x27;Abort&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 16)&quot;
              (click)&#x3D;&quot;hide(&#x27;retry&#x27;)&quot; class&#x3D;&quot;btn btn-default btn-retry&quot; [translate]&#x3D;&quot;&#x27;Retry&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 32)&quot;
              (click)&#x3D;&quot;hide(&#x27;ignore&#x27;)&quot; class&#x3D;&quot;btn btn-default btn-ignore&quot; [translate]&#x3D;&quot;&#x27;Ignore&#x27;&quot;&gt;&lt;/button&gt;
      &lt;button type&#x3D;&quot;button&quot; *ngIf&#x3D;&quot;bitwiseAnd(buttons, 64)&quot;
              (click)&#x3D;&quot;hide(&#x27;cancel&#x27;)&quot;  class&#x3D;&quot;btn btn-default btn-cancel&quot; [translate]&#x3D;&quot;&#x27;Cancel&#x27;&quot;&gt;&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#buttons">buttons</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#bitwiseAnd">bitwiseAnd</a>
                            </li>
                            <li>
                                <a href="#hide">hide</a>
                            </li>
                            <li>
                                    <span class="modifier">Async</span>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#show">show</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#message">message</a>
                            </li>
                            <li>
                                <a href="#title">title</a>
                            </li>
                        </ul>
                    </td>
                </tr>




        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(_element: <a href="https://angular.io/api/core/ElementRef" target="_blank">ElementRef</a>, _translateService: TranslateService)</code>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>_element</td>
                                                  
                                                        <td>
                                                                    <code><a href="https://angular.io/api/core/ElementRef" target="_blank" >ElementRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>_translateService</td>
                                                  
                                                        <td>
                                                                    <code>TranslateService</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="message"></a>
                        <b>message</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="title"></a>
                        <b>title</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
            </tbody>
        </table>
</section>



    <section>
    
        <h3 id="methods">
            Methods
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="bitwiseAnd"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            bitwiseAnd
                            </b>
                            <a href="#bitwiseAnd"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                            <span class="modifier-icon icon ion-ios-reset"></span>
                        <code>bitwiseAnd(a, b)</code>
                    </td>
                </tr>




                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>a</td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                                <tr>
                                                        <td>b</td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="hide"></a>
                        <span class="name">
                            <b>
                            hide
                            </b>
                            <a href="#hide"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>hide(value: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>)</code>
                    </td>
                </tr>




                <tr>
                    <td class="col-md-4">
                            <div class="io-description"><p>Hides modal dialog</p>
</div>

                            <div class="io-description">
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>value</td>
                                                        <td>
                                                                    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>
                                                        </td>
                                                    
                                                    <td>
                                                            No
                                                    </td>
                                                    

                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                            </div>
                                <div class="io-description">
                                    
                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="ngOnInit"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Async</span>
                            ngOnInit
                            </b>
                            <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                            <span class="modifier-icon icon ion-ios-reset"></span>
                        <code>ngOnInit()</code>
                    </td>
                </tr>




                <tr>
                    <td class="col-md-4">

                            <div class="io-description">
                                <b>Returns : </b>    <code>{}</code>

                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="show"></a>
                        <span class="name">
                            <b>
                            show
                            </b>
                            <a href="#show"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
<code>show()</code>
                    </td>
                </tr>




                <tr>
                    <td class="col-md-4">
                            <div class="io-description"><p>Shows modal dialog</p>
</div>

                            <div>
                            </div>
                            <div class="io-description">
                                <b>Returns : </b>    <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                            </div>
                                <div class="io-description">
                                    <p>Promise<any></p>

                                </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="buttons"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            buttons</b>
                            <a href="#buttons"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code><a href="../miscellaneous/enumerations.html#DIALOG_BUTTONS" target="_self" >DIALOG_BUTTONS</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>DIALOG_BUTTONS.Ok</code>
                        </td>
                    </tr>


            </tbody>
        </table>
</section>

</div>




    <div class="tab-pane fade " id="c-styleData">
            <pre class="line-numbers"><code class="language-scss">
      .modal-footer {
        border-top: 0;
      }
      .modal-ok {
        //
      }
      .modal-ok-cancel {
        //
      }
      .modal-yes-no {
        //
      }
      .modal-yes-no-cancel {
        //
      }
      .modal-abort-ignore-retry {
        //
      }
  
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="modal-dialog" role="document">  <div class="modal-content">    <div class="modal-header">      <h4 class="modal-title">{{title}}</h4>    </div>    <div class="modal-body" [innerHTML]="message"></div>    <div class="modal-footer">      <button type="button" *ngIf="bitwiseAnd(buttons, 1)"              (click)="hide(\'ok\')" class="btn btn-primary btn-ok" [translate]="\'OK\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 2)"              (click)="hide(\'yes\')" class="btn btn-primary btn-yes" [translate]="\'Yes\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 4)"              (click)="hide(\'no\')" class="btn btn-default btn-no" [translate]="\'No\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 8)"              (click)="hide(\'abort\')" class="btn btn-danger btn-abort" [translate]="\'Abort\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 16)"              (click)="hide(\'retry\')" class="btn btn-default btn-retry" [translate]="\'Retry\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 32)"              (click)="hide(\'ignore\')" class="btn btn-default btn-ignore" [translate]="\'Ignore\'"></button>      <button type="button" *ngIf="bitwiseAnd(buttons, 64)"              (click)="hide(\'cancel\')"  class="btn btn-default btn-cancel" [translate]="\'Cancel\'"></button>    </div>  </div></div></div>'
    var COMPONENTS = [{'name': 'AuthCallbackComponent', 'selector': 'universis-auth-callback'},{'name': 'DialogComponent', 'selector': 'universis-dialog.modal'},{'name': 'ErrorBaseComponent', 'selector': 'universis-error-base'},{'name': 'HttpErrorComponent', 'selector': '.m-error.m-error--http'},{'name': 'LoginComponent', 'selector': 'universis-app-login'},{'name': 'LogoutComponent', 'selector': 'universis-app-logout'},{'name': 'MsgboxComponent', 'selector': 'universis-msgbox'},{'name': 'SpinnerComponent', 'selector': 'universis-spinner'},{'name': 'ToastComponent', 'selector': 'universis-toast.toast'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'DialogComponent'};
</script>
<script src="../js/tree.js"></script>














                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'DialogComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
