<div *ngIf="department">
  <div class="card" *ngIf="department.length!= 0">
    <div class="card-body ">
      <div>
     <!--   <a href="/#/departments/{{departmentsId}}/dashboard/registration"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>-->
        <div class="row">
        <h5 class="mr-3 my-auto pb-3" [translate]="'Departments.General'"> </h5>
        </div>
        <div class="form-group row mb-2 text-secondary" >
          <div class="col-12 col-md-5 col-xl-3">
            <span> {{ "Departments.AcademicYear" | translate }} </span>
          </div>
          <div class="col-12 col-md-7 col-xl-9 text-dark my-auto">
            <span>{{ activeDepartment.currentYear.alternateName }}</span>
          </div>
        </div>
        <div class="form-group row mb-2 text-secondary" >
          <div class="col-12 col-md-5 col-xl-3">
            <span>  {{ "Departments.Periods" | translate }} </span>
          </div>
          <div class="col-12 col-md-7 col-xl-9 text-dark my-auto">
            <span>{{ 'Periods.' + activeDepartment.currentPeriod.alternateName + 'Long' | translate }}</span>
          </div>
        </div>
        <div class="form-group row mb-2 text-secondary" >
          <div class="col-12 col-md-5 col-xl-3">
            <span>  {{ "Departments.Registrations" | translate }} </span>
          </div>
          <div class="col-12 col-md-7 col-xl-9  my-auto">
            <span  class = "text-success" *ngIf="registrationStatus === 'open'">
                  {{ "Dashboard.Department.RegistrationsOpen" | translate }}
              (
              {{ activeDepartment.registrationPeriodStart | date:'dd/MM/yyy' }}
              {{ "Dashboard.TimeRangePreposition" | translate }}
              {{ activeDepartment.registrationPeriodEnd | date:'dd/MM/yyy' }}
              )
                </span>
            <span class = "text-dark" *ngIf="registrationStatus === 'pendingStart'">
                  {{ "Dashboard.Department.RegistrationsPendingStart" | translate }}
              {{ activeDepartment.registrationPeriodStart | date:'dd/MM/yyy' }}
                </span>
            <span class = "text-danger"  *ngIf="registrationStatus === 'close'">
                  {{ "Dashboard.Department.RegistrationsClosed" | translate }}
                </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="department?.length == 0">
    <div class="card">
      <div class="card-header d-flex justify-content-between mt-3">
        <h5 class="mr-3  my-auto" [translate]="'Departments.TabsInfo.registrationPeriodNotes'"></h5>
        <a href="/#/departments/{{departmentsId}}/dashboard/registration"
           class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span
          [translate]="'Expandable.More'"></span></a>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="card-text row pb-2">
          <div class="col-auto text-dark">
            <span [translate]="'Theses.NoStudents'"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
