<div class="row animated fadeIn">
  <div class="col-md-12 mb-4 d-flex justify-content-between">
    <div class="row  w-100">
      <div class="col-12 col-md-6">
        <h1 [translate]="'Dashboard.ModuleTitle'"></h1>
      </div>
      <div class="col-12 col-md-6">
        <ul class="sis--list-group sis--list-group-body" *ngIf="activeDepartment">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-md-end align-items-center list-color">
              <div class='dropdown details-control pl-md-4 pr-4 pr-md-0 order-md-2' >
                <button class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fa-lg text-dots align-middle"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-${data}">
                  <a data-name=''
                    class="dropdown-item"
                    href="#/departments/{{activeDepartment.id}}"
                    [translate]="'Dashboard.Department.Preview'"
                  ></a>
                  <a data-name=''
                    class="dropdown-item"
                    href="#/departments/{{activeDepartment.id}}/edit"
                    [translate]="'Dashboard.Department.Edit'"
                  ></a>
                </div>
              </div>
              <div class="text-md-right order-md-1">
                <h6 class="m-0">
                  {{ "AcademicYear" | translate }} {{ activeDepartment.currentYear.alternateName }}
                  -
                  {{ 'Periods.' + activeDepartment.currentPeriod.alternateName + 'Long' | translate }}
                </h6>
                <span class="text-secondary" *ngIf="registrationStatus === 'open'">
                  {{ "Dashboard.Department.RegistrationsOpen" | translate }}
                  (
                  {{ activeDepartment.registrationPeriodStart | date:'dd/MM/yyy' }}
                  {{ "Dashboard.TimeRangePreposition" | translate }}
                  {{ activeDepartment.registrationPeriodEnd | date:'dd/MM/yyy' }}
                  )
                </span>
                <span class="text-secondary" *ngIf="registrationStatus === 'pendingStart'">
                  {{ "Dashboard.Department.RegistrationsPendingStart" | translate }}
                  {{ activeDepartment.registrationPeriodStart | date:'dd/MM/yyy' }}
                </span>
                <span class="text-secondary" *ngIf="registrationStatus === 'close'">
                  {{ "Dashboard.Department.RegistrationsClosed" | translate }}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <app-dashboard-department-info *ngIf="false"></app-dashboard-department-info>
  </div>
  <div class="col-md-12 mb-4 d-flex justify-content-center">
    <app-dashboard-quick-search *ngIf="false"></app-dashboard-quick-search>
    <app-dashboard-quick-actions *ngIf="false"></app-dashboard-quick-actions>
</div>
  <div class="col-lg-8 col-md-7 col-12">
    <app-dashboard-pending-student-requests></app-dashboard-pending-student-requests>
    <app-dashboard-exam-documents></app-dashboard-exam-documents>
  </div>

  <div class="col-lg-4 col-md-5 col-12">
    <app-dashboard-exam-participate-summary></app-dashboard-exam-participate-summary>
  </div>
</div>

